@import "vars"
@import "fonts"
@import "libs"

footer
  background: black
.back
  background: #424242
  height: 220px
  justify-content: center
  align-items: center
  display: flex
  color: #969696
  &:hover
    text-decoration: none
    transition: .4s ease
    color: white
.w-30
  width: 30%
.swiper-container
  width: 100%
  margin-left: auto
  margin-right: auto
.swiper-slide
  background-size: cover
  background-position: center
.gallery-top
  width: 100%
  height: 400px
  .swiper-slide-active
    transform: matrix(0.5, 0, 0, 1, 0, 0)!important
  .swiper-slide
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: center
    position: relative
    h2
      position: absolute
      color: white
      bottom: 15%
      left: -4%
      font-size: 64px
      letter-spacing: 5px
      font-family: "Ptbold"
    p
      position: absolute
      color: white
      bottom: 3%
      left: -4%
      font-size: 24px
      letter-spacing: 5px
.gallery-thumbs
  height: 150px
  box-sizing: border-box
  padding: 10px 0
  .swiper-slide
    width: 25%
    height: 20%
    opacity: 0.4
    h2
      font-size: 64px
      font-family: "PT Serif"
      color: white
    p
      font-size: 25px
  .swiper-slide-thumb-active
    opacity: 1
h1
  font-family: Ptbold
.fa-times
  font-size: 36px
  color: #FE013E
.main
  background: black
@import "media" // Always at the end
