@font-face
    font-family: "Muller"
    src: url("../fonts/Fontfabric - MullerRegular.otf")
@font-face
    font-family: "MullerBold"
    src: url("../fonts/Fontfabric - MullerBold.otf")
@font-face
    font-family: "MullerMedium"
    src: url("../fonts/Fontfabric - MullerMedium.otf")
@font-face
    font-family: "MullerExtraBold"
    src: url("../fonts/Fontfabric - MullerExtraBold.otf")
@font-face
    font-family: "MullerLight"
    src: url("../fonts/Fontfabric - MullerLight.otf")
@font-face
    font-family: "Ptbold"
    src: url("../fonts/ptbold.ttf")
@font-face
    font-family: "MB-regular"
    src: url("../fonts/MB-Regular.woff")
@font-face
    font-family: "MB-bold"
    src: url("../fonts/MB-Bold.woff")
