@import "vars"


/*==========  Desktop First  ==========*/


// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
  .main
    nav
      padding: 10px 0 10px 15px
      img
        width: 100%
    header
      padding: 0
      img
        padding: 5px 10px
      .main-title
        padding: 0
        height: auto
        text-align: center
        margin-bottom: 10px
        opacity: 1
        background: none
        h2
          font-size: 16px
          line-height: 0
        span
          font-size: 10px
          line-height: 5px
        &--red1
          bottom: 60%
          z-index: 11111
        &--red2
          bottom: 0%

  .h-266
    height: auto
  .h-445
    height: auto
  //.t-7
  //  top: 7%!important
  //.t-5
  //  top: 5%!important
  //.t-26
  //  top: 26%!important
  //.t-47
  //  top: 47%!important
  //.t-70
  //  top: 70%!important
  iframe
    height: 200px
  .alot
    main
      padding-bottom: 0
      h2
        font-size: 33px
      p
        font-size: 18px
    header
      .w-30
        width: 57%!important
  .main
    overflow-x: hidden!important
  .contact
    padding: 30px 0 10px
    text-align: center
    a
      font-size: 6px
      letter-spacing: 1px
  .insta
    width: 15px!important
  .line
    width: 100%
// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)


// ≤1200px
+media-breakpoint-up(xl)




