@import "vars"
@import "fonts"
@import "libs"

html
  overflow-x: hidden !important
  height: 100%
  scroll-behavior: smooth

footer
  background: black
.back
  background: #424242
  height: 220px
  justify-content: center
  align-items: center
  display: flex
  color: #969696
  &:hover
    text-decoration: none
    transition: .4s ease
    color: white
.w-30
  width: 30%
.swiper-container
  width: 100%
  margin-left: auto
  margin-right: auto
.swiper-slide
  background-size: cover
  background-position: center
.gallery-top
  width: 100%
  height: 400px
  .swiper-slide-active
    transform: matrix(0.5, 0, 0, 1, 0, 0)!important
  .swiper-slide
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: center
    position: relative
    h2
      position: absolute
      color: white
      bottom: 15%
      left: -4%
      font-size: 64px
      letter-spacing: 5px
      font-family: "Ptbold"
    p
      position: absolute
      color: white
      bottom: 3%
      left: -4%
      font-size: 24px
      letter-spacing: 5px
.gallery-thumbs
  height: 150px
  box-sizing: border-box
  padding: 10px 0
  .swiper-slide
    width: 25%
    height: 20%
    opacity: 0.4
    h2
      font-size: 64px
      font-family: "PT Serif"
      color: white
    p
      font-size: 25px
  .swiper-slide-thumb-active
    opacity: 1
h1
  font-family: Ptbold
.fa-times
  font-size: 36px
  color: #F0F0F0
.main
  background: black
  header
    padding: 155px 73px 0px 76px
    .main-title
      position: absolute
      left: 2%
      bottom: 0
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 57.81%, rgba(28, 28, 28, 0.8) 92.71%)
      width: 97%
      padding: 192px 0 13px 17px
      opacity: 0
      display: block
      height: 266px
      h2
        font-family: MB-bold
        font-weight: bold
        font-size: 36px
        line-height: 20px
        color: #F0F0F0
        text-transform: uppercase
      span
        font-family: MB-regular
        font-size: 14px
        color: #F0F0F0
        text-transform: uppercase
      &--center
        bottom: 0
      &--redmain
        bottom: 17.5%
        left: 1%
        width: 98%
      &--red1
        bottom: 67%
        width: 96%
      &--red2
        bottom: 12%
        width: 96%
      &--red3
        bottom: 37%
        width: 96%
    .main-title:hover
      opacity: 1!important
      transition: opacity 2s ease
  nav
    padding: 73px 73px 0 76px
    img
      width: 30%
.h-266
  height: 398px
.h-445
  height: 445.9px
.l-1
  left: 1%!important
.alot
  background: #E5E5E5
  header
    height: 370px
    background-image: url("../img/alot-slider.png")
    background-position: center
    background-size: cover
    background-repeat: no-repeat
  main
    .contact
      a
        color: black
        &:hover
          color: #c82333
    p
      font-size: 24px
      line-height: 31px
      font-family: "PT Sans"
    h2
      font-family: "PT Sans"
      font-weight: bold
      font-size: 48px
      line-height: 62px
      color: #1C1C1C
.redroom
  header
    background-image: url("../img/red-slider.png")
.contact
  padding: 100px 0 50px
.contact, .navbar
  a
    font-family: "MB-regular"
    letter-spacing: 5px
    text-transform: uppercase
    color: white
    font-size: 8px
    &:hover
      text-decoration: none
      color: #c82333
      transition: 1s ease
nav
  .fa
    font-size: 30px
    color: white
    margin: 0 10px
    &:hover
      color: #c82333
      transition: .4s ease
.insta
  width: 20px!important
.line
  width: 120px
  background: white
  border-bottom: 1px solid darkgray

@media only screen and (max-width: 1000px) and (min-width: 768px)
  .main header .main-title--red1
    bottom: 67%!important
  .main header .main-title--red2
    bottom: 12%!important
@import "media" // Always at the end
